@charset "ISO-8859-1";

body{
	background-color: #e0e0e0;
	font-family: helvetica, arial;
}

#formCriarConta{
	
	height: 90%;
}

#menu_titulo{
	width: 100% - 0.5em;
	background-color: #005B9F;
	padding: 1em;
	height: 5em;
}

.ui-growl {
    position: fixed !important;
    z-index: 9999 !important;
}

#titulo{
	float: left;
	margin-left: 1em;
	Color: white;
}

#logo{
	float: right;
	margin-right: 1em;
	color: white;
}

.ui-button-info {
 	background-color: transparent !important; 
    border: none !important; 
    color: #007bff !important; 
    box-shadow: none !important;
}

.ui-button-danger {
  background-color: transparent !important; 
  border: none !important; 
  color: #dc3545 !important; 
  box-shadow: none !important;
}

#menu-acoes{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1%;
	height: 100%;
}

#bloco-tudo{
	
	width: 60%;
	height: 70%;
	background-color: white;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	padding: 2em;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#botoeiras{
	
	margin: 4%;
}

.botao{
	
	padding: 1em;
	border: none;
}

p{
	font-size:24px;
	color: #333333;
}

h1{
	font-size:40px;
	color: #333333;
}

.botao-verde{
	
	background-color: green;
}

.botao-vermelho{
	background-color: red;
}
	
.botao-azul{
	background-color: blue;
}	

.inputs{
	
	padding: 1em;
}



