@charset "ISO-8859-1";

#titulo{
	display:flex;
}

.menu-acoes{
	display: flex;
	justify-content: center;
	align-items:center;
	margin-top: 3%;
	
}

.container{
	
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.logo-ferramentas{
	
	text-align: center;
	color: black;
	font-size: 26px;
	font-family: arial;
}

.ferramentas{
	
	color: black;
	padding: 1em;
}

body {
    background: linear-gradient(to bottom, #ffffff, #e6f0fa);
    height: 100vh;
}

.links{
	margin: 20px;
	width: 90px;
	height: 90px;
	transition: transform 0.3s;
	border-radius: 10px;
}

.links:hover{
	
	transform: scale(1.5);
}